.planet-wrapper {
    padding: 1rem 8rem;
    display: grid;
    grid-template-columns: repeat(5, 15%);
    justify-content: center;
    gap: 2rem 1rem;
  }
  
  .planet-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0.95;
  }
  
  .planet-box:hover {
    letter-spacing: 0.2rem;
    opacity: 1;
    transform: scale(1.5);
  }
  
  .planet {
    padding: var(--size);
    background-image: var(--bg);
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.65) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.6) 0px 18px 36px -18px inset;
    margin: 0.2rem 0.2rem 0.4rem;
    cursor: pointer;
  }
  
  .action-wrapper {
    max-width: 20rem;
    display: grid;
    grid-template-columns: 30% 20% 30%;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    margin: 1rem auto;
    background-color: transparent;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
  }
  
  .action-btn {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .action-btn:hover {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8),
      0 3px 8px 0 rgba(255, 255, 255, 0.6);
  }
  
  .action-btn:active {
    opacity: 0.6;
  }
  
  .page-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }